:root {
    /* Colors */
    --primary: #2a2d32;
    --accent: #25c7d4;
    --text: #fff;
    /* Shadow Color */
    --shadow-light: #373b41;
    --shadow-dark: #1c1e21;
    /* Neumorphism Shadows */
    --neu: 0.5em 0.5em 0.8em var(--shadow-dark), -0.5em -0.5em 0.8em var(--shadow-light);
    --neu-sm: 0.2em 0.2em 0.5em var(--shadow-dark), -0.2em -0.2em 0.5em var(--shadow-light);
    --neu-inset: inset 0.2em 0.2em 0.5em var(--shadow-dark), inset -0.2em -0.2em 0.5em var(--shadow-light);
    --neu-inset-sm: inset 0.15em 0.15em 0.3em var(--shadow-dark), inset -0.15em -0.15em 0.3em var(--shadow-light);
}

body {
    margin: 0;
    padding: 2em 1em;
    font-family: system-ui, sans-serif;
    background: var(--primary);
    min-height: 150vh;
}

* {
    box-sizing: border-box;
}

/* Layout */
.neumorphism-kit {
    color: var(--text);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1025px) {
    .neumorphism-kit {
        grid-template-columns: 1fr;
    }
}

.neumorphism-kit > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

/* Sections Grid Layout */
.toggles, .buttons, .buttons-toggles {
    display: grid;
    justify-items: center;
    align-items: center;
}

.toggles {
    grid-template-columns: repeat(3, 1fr);
}

.buttons {
    grid-template-columns: repeat(4, 1fr);
}

.buttons-toggles {
    grid-template-columns: 1fr 1fr;
}

/* Neumorphism class */
.neu {
    background: var(--primary);
    box-shadow: 0.5em ;
}