.about {
    display: inline;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-section-heading {
    margin-bottom: 40px;
}

.card-list {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 16px;
    padding: 50px;
    background: #111;
    box-shadow: 5px 5px 15px #050505, -5px -5px 15px #1b1b1b;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.card:hover {
    box-shadow: 3px 3px 10px rgba(8, 8, 8, 0.8), -3px -3px 10px rgba(53, 53, 53, 0.8);
}

.wrapper h3 {
    font-size: 24px;
}

.wrapper p {
    line-height: 1.6;
    font-size: 1rem;
    margin: 10px 0;
    color: white
}

/* .wrapper a {
    display: inline-block;
    background-color: #111;
    padding: 122px 48px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: inset 5px 5px 15px #050505, inset, -5px -5px 15px #1b1b1b;
} */